body {
  background-color: #000000;
  overflow: hidden;
}

html,
body {
  height: 100%;
}

.box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.main {
  position: absolute;
  top: 0;
  left: 250px;
  right: 0;
  bottom: 0;
  background-color: bisque;
}

.linksbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  bottom: 0;
}

#tv1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv2 {
  position: absolute;
  top: 0;
  left: 33.33%;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv3 {
  position: absolute;
  top: 0;
  left: 66.66%;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv4 {
  position: absolute;
  top: 33.33%;
  left: 0;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv5 {
  position: absolute;
  top: 33.33%;
  left: 33.33%;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv6 {
  position: absolute;
  top: 33.33%;
  left: 66.66%;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv7 {
  position: absolute;
  top: 66.66%;
  left: 0;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv8 {
  position: absolute;
  top: 66.66%;
  left: 33.33%;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv9 {
  position: absolute;
  top: 66.66%;
  left: 66.66%;
  width: 33.33%;
  height: 33.33%;
  z-index: 44;
}

#tv1b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

#tv2b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

#tv3b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

#tv4b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

#tv5b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

#tv6b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

#tv7b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

#tv8b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

#tv9b {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 33;
  border-radius: 25px;
}

.tvcover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 66;
  background-image: url(https://tim-school.com/codepen/youtube1/tv.png);
  background-size: 100% 100%;
  pointer-events: none;
}

iframe {
  width: 100%;
  height: 100%;
}

.rocker {
  display: inline-block;
  position: relative;
  /*
SIZE OF SWITCH
==============
All sizes are in em - therefore
changing the font-size here
will change the size of the switch.
See .rocker-small below as example.
*/
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #000000;
}

.rocker-small {
  font-size: 2vh;
  /* Sizes the switch */

}

.rocker::before {
  content: "";
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  border: 0.5em solid #000000;
  border-bottom: 0;
}

.rocker input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-left,
.switch-right {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
}

.switch-left {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.switch-right {
  right: 0.5em;
  bottom: 0;
  background-color: #bd5757;
  color: #fff;
}

.switch-left::before,
.switch-right::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.switch-left::before {
  left: -0.4em;
}

.switch-right::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

input:checked+.switch-left {
  background-color: #0084d0;
  color: #fff;
  bottom: 0px;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

input:checked+.switch-left::before {
  background-color: transparent;
  width: 3.0833em;
}

input:checked+.switch-left+.switch-right {
  background-color: #ddd;
  color: #888;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

input:checked+.switch-left+.switch-right::before {
  background-color: #ccc;
}

/* Keyboard Users */
input:focus+.switch-left {
  color: #333;
}

input:checked:focus+.switch-left {
  color: #fff;
}

input:focus+.switch-left+.switch-right {
  color: #fff;
}

input:checked:focus+.switch-left+.switch-right {
  color: #333;
}

.boxtables {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 2vh;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.boxtable {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidenav1,
.sidenav3,
.sidenav5,
.sidenav7,
.sidenav9,
.sidenav11,
.sidenav13,
.sidenav15,
.sidenav17 {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 55;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 1.5s;
  background-image: url(https://tim-school.com/codepen/youtube1/curtain1.jpg);
  background-size: 100% 100%;
}

.sidenav2,
.sidenav4,
.sidenav6,
.sidenav8,
.sidenav10,
.sidenav12,
.sidenav14,
.sidenav16,
.sidenav18 {
  height: 100%;
  width: 50%;
  position: absolute;
  z-index: 55;
  top: 0;
  right: 0;
  overflow-x: hidden;
  transition: 1.5s;
  background-image: url(https://tim-school.com/codepen/youtube1/curtain2.jpg);
  background-size: 100% 100%;
}