#banner-container{
	background-color: #074241;
	color: #fff !important;
	padding-top: 80px;
	padding-bottom: 80px;
}
#banner-row img{
	max-width: 65%;
	height: auto;
	display: block;
	padding-left: 30px;
}

#banner-row a{
	background-color: #fff !important;
	color: #000 !important;
	border: none;
	margin-left: 20px;
	margin-top: 20px; 
}

#banner-row h3,p{
	padding-left: 20px;
	padding-top: 20px;
	text-align: center;
}
#banner-col{
	padding-left: 20px;
}