.navbar-nav{
	margin-right: 0 !important;
	padding-right: 100px;
}
.navbar{
	background-color: #074241;
	color: #fff !important;
}
.nav-item a{
	color: #fff !important;
}
.nav-item {
	padding-left: 10px;
}
.navbar-brand{
	color: #fff !important;
	padding-left: 10px;
}
#navbar button{
	color: #fff !important;
}
