*{
	margin: 0;
	padding: 0;
	font-family: 'Roboto Condensed', sans-serif;
}
@media only screen and (max-width:960px)
{
	.navbar-brand{
		padding-left:0;
	}
}
@media only screen and (max-width:760px)
{
	#banner-row img{
		padding-top:20px;
	}
	.social-col{
		width: 33%;
	}
}